$grey: #ddd
$wf: #fff
$b0: #000
$b2: #222

$w1: rgb(230, 230, 230)
$d0: rgb(24,26,28)
$d1: rgb(29,31,33)


@font-face
	font-family: 'dos437'
	src: url( 'font/moder-dos437.ttf' )

*
	font-family: 'monaco'
	font-size: 13px

html, body
	margin: 0px
	padding: 0px
	height: 100%
	background: $b0
	color: $w1

button
	border: none
	border-right: 1px solid $wf
	background: $b0
	color: $w1
	display: block
	float: left

pre
	margin: 0px
	overflow-x: scroll

::-webkit-scrollbar
	background: $b2
	border-right: 1px solid $wf
	width: 5px
	height: 5px
::-webkit-scrollbar-thumb
	background: $wf

.cm-s-black
	&.CodeMirror
		background-color: $d1
		color: $wf
		line-height: 1.4375
		border-top: 1px solid $wf
		border-bottom: 1px solid $wf
	&.CodeMirror-focused div.CodeMirror-selected
		background: rgba( 255, 255, 255, 0.33 )
	.CodeMirror-gutters
		border:none
		border-right: 1px solid $wf
		background-color: $d1
	.CodeMirror-cursor
		width: auto
		border: 0
		background: $wf
		z-index: 1
	.CodeMirror-linenumber
		padding: 0
		color: $wf

.view
	height: 100%
	position: absolute

	&.left
		width: 30%
		overflow-y: scroll
		background: $d0

	&.right
		left: 30%
		width: 70%
		background: $d1

=no-select
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

#nodeGraph
	position: absolute
	height: 100%
	width: 70%
	cursor: default
	+no-select

#nodeContainer, #nodeContainerSvg
	position: absolute
	height: 100%
	width: 100%
	cursor: default
	+no-select
	background: rgba( 0, 0, 0, 0 )
